* {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  font-family: "Lato", "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.wrap h3,
.wrap p {
  color: #878787;
}

img {
  width: 100%;
  vertical-align: middle;
}

.wrap .slogan {
  padding: 10% 0 0;
}

.slogan h1 {
  font-size: 48px;
  letter-spacing: 0.4em;
}

.slogan h3 {
  letter-spacing: 0.2em;
}

.menu {
  /* max-width: 1024px; */
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  box-shadow: 0 5px 15px #ccc, 0 -5px 15px #ccc;
}

.menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.menu.showIn {
  transform: translateY(0);
}

.menu li {
  width: 20%;
}

.menu li a {
  display: block;
  padding: 10% 0;
  text-align: center;
  transition: 0.5s;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

@media (max-width: 768px) {
  .wrap .slogan {
    padding: 5% 0 0;
  }

  .slogan h1 {
    font-size: 36px;
    letter-spacing: 0.2em;
  }

  .slogan h3 {
    letter-spacing: 0.1em;
  }

  .menu li a {
    font-size: 16px;
  }
}

.list li {
  padding: 10% 0;
}

.title h2 {
  font-size: 48px;
  letter-spacing: 0.2em;
}

#classleader.pic {
  width: 25%;
}

.pic {
  width: 50%;
  padding: 5% 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 36px;
    letter-spacing: 0.1em;
  }

  .title p {
    font-size: 14px;
  }

  .list li {
    padding: 20% 0;
  }

  .list li:last-child {
    padding-bottom: 50%;
  }
}

.classleader.active::after,
.vice.active::after,
.discipline.active::after,
.sport.active::after,
.daily.active::after,
.classleader.active::before,
.vice.active::before,
.discipline.active::before,
.sport.active::before,
.daily.active::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
}

.classleader {
  background-color: #f1be38;
}

.classleader.active::after {
  background-color: #e6a33a;
  bottom: 0;
}

.classleader.active::before {
  background-color: #e6a33a;
  top: 0;
}

#classleader h2 {
  color: #f1be38;
}

.vice {
  background-color: #569d48;
}

.vice.active::after {
  background-color: #eeeeee;
  bottom: 0;
}

.vice.active::before {
  background-color: #eeeeee;
  top: 0;
}

#vice h2 {
  color: #569d48;
}

.discipline {
  background-color: #59c1dd;
}

.discipline.active::after {
  background-color: #fff;
  bottom: 0;
}

.discipline.active::before {
  background-color: #fff;
  top: 0;
}

#discipline h2 {
  color: #59c1dd;
}

.sport {
  background-color: #e0353d;
}

.sport.active::after {
  background-color: #b33035;
  bottom: 0;
}

.sport.active::before {
  background-color: #b33035;
  top: 0;
}

#sport h2 {
  color: #e0353d;
}

.daily {
  background-color: #47b785;
}

.daily.active::after {
  background-color: #364a5d;
  bottom: 0;
}

.daily.active::before {
  background-color: #364a5d;
  top: 0;
}

#daily h2 {
  color: #47b785;
}

@media (max-width: 768px) {
  .classleader.active::after,
  .vice.active::after,
  .discipline.active::after,
  .sport.active::after,
  .daily.active::after,
  .classleader.active::before,
  .vice.active::before,
  .discipline.active::before,
  .sport.active::before,
  .daily.active::before {
    height: 5px;
  }
}

.button {
  width: 30%;
  margin: 2% auto;
  display: flex;
  justify-content: center;
}

.button .text {
  padding: 2%;
  width: 80%;
  border-radius: 10px 0 0 10px;
}

.button .send {
  width: 20%;
  border-radius: 0 10px 10px 0;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.button .text,
.button .send {
  border: none;
  outline: none;
}

.mission {
  width: 30%;
  margin: 0 auto;
  text-align: left;
}

.mission li {
  display: flex;
  align-items: center;
}

.mission li a {
  padding: 1.5% 3%;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 5%;
  transition: 0.5s;
  font-weight: bold;
}

.mission li a:hover {
  background-color: #fff;
}

@media (max-width: 768px) {
  .button {
    width: 50%;
  }

  .mission {
    width: 50%;
  }
}
